# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
/media/
/staticfiles/
logs/

# Temporary files
**/response_*

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
